<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= f.collection_select :rule_id, @rules, :id, :topic %>

  <div class="field">
	<%= f.hidden_field :rule_id, value: @rule_id %>
  </div>
  <div class="field">
    <%= f.text_area :content, :cols => 70, :rows => 10, autofocus: true, :value => @rule.name.titleize + ' - '  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
