<%= link_to_unless_current('Contracts', new_post_path(:topic => "contracts")) %>
<%= link_to_unless_current('Evidence', new_post_path(:topic => "evidence")) %>
<%= link_to_unless_current('Torts', new_post_path(:topic => "torts")) %>

<p id="notice" style="<%= @status %>"><%= notice %></p>


<p id="rule" align="left"><strong><%= @rule.name.titleize %></strong></p>

<%= render 'form' %>

<%= link_to 'Back', rules_path %>
