<p id="notice" style="<%= @status %>"><%= notice %></p>


  <% if @keywords %>
	<% @keywords.each do |keyword| %>
		<strong><%= keyword %><br></strong>
	<% end %>
  <% end %>
</p>

<p>
  <%= @statement %>
  
</p>



<%= link_to 'Back', new_post_path %>
