<p id="notice" style="<%= @status %>"><%= notice %></p>

<ul>
  <% if @keywords %>
	<% @keywords.each do |keyword| %>
		<li><strong><%= keyword %></strong></li>
	<% end %>
  <% end %>
</p>

<p>
  <%= @statement %>
  
</p>



<%= link_to 'Back', new_post_path %>
