<p id="notice" style="<%= @status %>"><%= notice %></p>



<p>
  <strong><%= @statement %>
  </strong>
</p>

<p>
  <strong>Your response:</strong>
  <%= @post.content.split(" ") %>
</p>


<%= link_to 'Back', new_post_path %>
