<h1>Listing rules</h1>

<%= link_to_unless_current 'All', rules_path %>

<a href="">Contracts</a>

<%= link_to_unless_current('Evidence', evidence_rules_path) %>

<a href="">Property</a>

<a href="">Torts</a>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Statement</th>
      <th>Keywords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= rule.statement %></td>
        <td><%= rule.keywords %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
