<h1>Listing rules</h1>

<br>
<%= link_to 'New Rule', new_rule_path %>
<br><br>

<%= link_to 'All', rules_path %> |

<%= link_to_unless_current('Contracts', rules_path(:subject => "contracts")) %> | 
<%= link_to_unless_current('Evidence', rules_path(:subject => "evidence")) %> | 
<%= link_to_unless_current('Torts', rules_path(:subject => "torts")) %> | 
<%= link_to_unless_current('Property', rules_path(:subject => "property")) %> | 
<%= link_to_unless_current('Community Property', rules_path(:subject => "community property")) %> | 
<%= link_to_unless_current('Crim & CrimPro', rules_path(:subject => "crim")) %> <br>
<%= link_to_unless_current('Wills & Trusts', rules_path(:subject => "wills")) %> | 
<%= link_to_unless_current('CivPro', rules_path(:subject => "civpro")) %> | 
<%= link_to_unless_current('Business Associations', rules_path(:subject => "business")) %> | 
<%= link_to_unless_current('PR', rules_path(:subject => "pr")) %> | 
<%= link_to_unless_current('ConLaw', rules_path(:subject => "conlaw")) %> 

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Statement</th>
      <th>Keywords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= rule.statement %></td>
        <td><%= rule.keywords %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

